.App {
  text-align: center;
}
body {
  background-color: #142330;
}
.bookHeader {
  color: white;
}
.bookHeaderTicket {
  color: #ACB2B8;
}
.widget {
  background-color: #1C2D3C;
  width: 500px;
  border: 1px solid #151F25;
}
.widget HR {
  color: #323D48;
}
.widget THEAD {
  color: #ACB2B8;
  font-size: 14px;
}
.widget TBODY {
  color: white;
  font-size: 13px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
